@model starter_app.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Event</h2>
@using (Html.BeginForm("Save", "Events"))
{
    <div class="mb-3">
        @Html.LabelFor(m => m.Venue)
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Venue)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId,
            new SelectList(Model.Genres, "Id", "Name"),
            "Select Event Genre",
            new { @class = "form-select" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
}
