@model IEnumerable<starter_app.Models.Event>
@{
    ViewBag.Title = "Event Page";
}

<main>
    <h2 class="mt-4 mb-3">List of Events</h2>
    
        @foreach (var item in Model)
        {
            @*<li>@item.DateTime - @item.Artist.Name</li>*@
        <div class="d-flex align-items-center my-4">
            <div class="flex-shrink-0 text-center">
                <div class="mx-4">
                    <span style="font-size: 20px; font-weight:bold;">@item.DateTime.ToString("MMM")</span>
                    <br />
                    @item.DateTime.ToString("dd")
                    <br />
                    @item.DateTime.ToString("yyyy")
                </div>                   
            </div>
            <div class="flex-grow-1 ms-3">
                <div>
                    <a href="#" class="link-secondary text-decoration-none">
                        <h3>@item.Artist.Name</h3>
                    </a>
                    <p>@item.Genre.Name</p>
                    <div class="text-sm op-5">
                        <button data-event-id="@item.Id" class="btn btn-success btn-sm js-toggle-attendance">Going?</button> 
                    </div>
                </div>
            </div>
        </div>
         
        }
</main>

@section scripts 
{
    <script>
        $(document).ready(function () {
 
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances/Attend", { eventId: button.attr("data-event-id") })
                    .done(function () {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    }).fail(function () {
                        alert("something failed!");
                    });
            });

        });

    </script>    
}