@model starter_app.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Event Page";
}

<main>
    <h2 class="mt-4 mb-3">Upcoming Events</h2>
    <div class="my-5">
        @using (Html.BeginForm("Search", "Home"))
        {
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control shadow-none", @placeholder = "Artist Name, Genre, Venue" })
                <input type="submit" value="Search" class="btn btn-outline-primary" />
            </div>
        }
    </div>
    <ul class="list-unstyled">
        @foreach (var item in Model.UpcomingEvents)
        {
         <li>
             <div class="d-flex align-items-center my-4">
                 <div class="flex-shrink-0 text-center">
                     <div class="mx-4">
                         <span class="fs-5 fw-bold">@item.DateTime.ToString("MMM")</span>
                         <br />
                         @item.DateTime.ToString("dd")
                         <br />
                         @item.DateTime.ToString("yyyy")
                     </div>
                 </div>
                 <div class="flex-grow-1 ms-3">
                     <div>
                         <div class="d-flex justify-content-start align-items-center">
                             <h3><a href="#" class="link-secondary text-decoration-none">@item.Artist.Name</a></h3>
                             <button data-event-id="@item.ArtistId" class="btn btn-link link-primary js-toggle-follow fw-normal text-decoration-none">Follow?</button>
                         </div>
                         <p><span class="text-info fw-bold">@item.Venue</span></p>
                         <p>@item.Genre.Name</p>
                         <div class="text-sm op-5">
                             @if (Model.ShowActions && !item.isCanceled)
                             {
                                     <button data-event-id="@item.Id"
                                             class="btn
                                             @(Model.Attendances.Contains(item.Id) ? "btn-info" : "btn-default")
                                             btn-primary btn-sm js-toggle-attendance">
                                         @(Model.Attendances.Contains(item.Id) ? "Going" : "Going?")
                                     </button>
                             }
                         </div>
                     </div>
                 </div>
             </div>
         </li>
        }
    </ul>

</main>

@section scripts 
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/Attendances/Attend", { eventId: button.attr("data-event-id") })
                        .done(function () {
                            button.removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        }).fail(function () {
                            alert("something failed!");
                        });
                }
                else
                {
                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-event-id"),
                        method: "DELETE"
                        })
                        .done(function () {
                            button.removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going?");
                        })
                        .fail(function () {
                            alert("something failed!");
                        });
                }
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                //console.log(button.attr("data-event-id"));
                $.post("/api/Followings/Follow", { followeeId: button.attr("data-event-id") })
                    .done(function () {
                        button.addClass("link-info")
                            .text("Followed");
                    }).fail(function () {
                        alert("something failed!");
                    });
            });

        });

    </script>    
}